<h2><%= @butterfly.name%></h2>
<h3>Family: <%= @butterfly.family%></h3>

<img src="<%= @butterfly.image %>">

<a href="/butterflies/<%= @butterfly.id %>/edit">Edit</a>
<a href="/butterflies/<%= @butterfly.id%>/delete">Delete</a>